<div class="list_container">

    <div>
        <div class="single_list" (mouseover)="getStyle()">
            <div class="name_list">
                <div class="listName">michele</div>
            </div>
            <img src="../../../assets/img/carne.jpeg">
            <div class="edit_hover">
                <div class="icon"><img src="../../../assets/img/modify.png"></div>
                <div class="icon"><img src="../../../assets/img/send.png"></div>
                <div class="icon"><img src="../../../assets/img/delete.png"></div>
            </div>
        </div>
    </div>
</div>