<footer>
    <img (click)="goToTopButton()" class="goToTopButton" src="../../../assets/Risorse utili/backtotop.png">
    <div class="mainContainer">
        <div class="col1">
            <img id="logoFooter" src="../../../assets/Risorse utili/logo_footer.png">
        </div>
        <div class="col2">
            <p>Scarica App</p>
            <p>Funzionalità</p>
            <p>Contatti</p>
            <p>Privacy</p>
        </div>
        <div class="col3">
            <p>Registrati</p>
            <p>Accedi</p>
        </div>
        <div class="col4">
            <p>SEGUICI SU</p>
            <img src="../../../assets/Risorse utili/facebbok.png">
            <img src="../../../assets/Risorse utili/twitter.png">
        </div>
    </div>
    <p class="copyright">© 2017 <b>FaiSpesa.it</b> FaiSpesa® Il nuovo modo di fare la spesa™</p>
</footer>