<div class="navbar">
    <nav>
        <a routerLink="/home"><img id="logo" src="../../../assets/img/logo.png" alt="logo"></a>
        <div class="navDiv">
            <ul *ngIf="!isLogged">
                <ng-container *ngFor="let item of menuListUnlogged">
                    <div class="optionDiv">
                        <a class="option" href="#{{item.route}}">{{item.title}}</a>
                    </div>
                </ng-container>

                <button (click)="openModalLogin()">ACCEDI</button>
            </ul>



            <ul *ngIf="isLogged">
                <ng-container *ngFor="let item of menuListLogged">
                    <div class="optionDiv" routerLinkActive="active">
                        <a class="option" routerLink="/{{item.route}}">{{item.title}}</a>
                    </div>
                </ng-container>
                <img (click)="isProfileClickedFun()" *ngIf="isLogged" id="profile" src="{{currentUser?.imgProfile}}" alt="profile">
            </ul>

        </div>
    </nav>

</div>
<div *ngIf="isProfileClicked" class="profileDiv fadeIn">
    <a routerLink="/profilo">{{currentUser.username}}</a>
    <p>{{currentUser.email}}</p>
    <hr>
    <a (click)="doLogout()">Logout</a>
</div>