/* PRIMA PAGINA */

.Scarica {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/Risorse utili/BG_home.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.download-text {
    width: 30%;
    text-align: left;
    position: relative;
    margin: auto;
    top: 90px;
    left: -280px;
    color: white;
    font-size: 23px;
}

#bluebox {
    background-color: #59afe2;
    position: relative;
    width: 100%;
    height: 190px;
    top: 190px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.bluebox-text {
    position: relative;
    right: 380px;
    top: 30px;
    margin: auto;
    color: white;
    font-size: 16px;
}

.bluebox-text img {
    cursor: pointer;
}

#phone {
    position: absolute;
    width: 20%;
    top: 120px;
    right: 350px;
    overflow: hidden;
    z-index: 1;
}

#tend1 {
    position: relative;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    background-color: white;
    top: 0px;
}


/*IPAD MEDIA QUERY PERCHE' USARE LE GRIGLIE O BOOTSTRAP E' TROPPO MAINSTREAM*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .scarica {
        position: relative;
        width: 100%;
        height: 600px;
        background-image: url('../../../assets/Risorse utili/BG_home.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .download-text {
        width: 100%;
        text-align: center;
        position: relative;
        color: white;
        font-size: 18px;
        left: 0;
    }
    .download-text p {
        font-size: 29px;
    }
    #bluebox {
        background-color: #59afe2;
        position: relative;
        width: 100%;
        height: 190px;
        top: 190px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
    .bluebox-text {
        position: relative;
        right: 380px;
        top: 30px;
        margin: auto;
        color: white;
        font-size: 16px;
        right: 0;
    }
    .bluebox-text img {
        cursor: pointer;
    }
    #phone {
        visibility: collapse;
    }
    #tend1 {
        position: relative;
        text-align: center;
        z-index: 2;
        overflow: hidden;
        background-color: white;
        top: 0px;
    }
}


/* SECONDA PAGINA */

.Funzionalità {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 600px;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 90px;
    background-color: white;
    z-index: 2;
    border: solid white;
    color: #4f5d7a;
    font-size: 20px;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.funz-box {
    width: 500px;
    margin: 40px 120px 0px 120px;
    display: inline-block;
    height: 300px;
    position: relative;
    padding: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#funz-box-1 {
    background-image: url('../../../assets/Risorse custom/funz1.png');
    background-position: center;
    background-repeat: no-repeat;
}

#funz-box-1 p {
    top: 140px;
    position: relative;
}

#funz-box-1 h3 {
    position: relative;
    top: 46px;
    right: -80px;
}

#funz-box-2 {
    background-image: url('../../../assets/Risorse custom/funz2.png');
    background-position: center;
    background-repeat: no-repeat;
}

#funz-box-2 p {
    top: 150px;
    position: relative;
}

#funz-box-2 h3 {
    text-align: right;
    position: relative;
    top: 40px;
    right: 40px;
    ;
}

#funz-box-3 {
    background-image: url('../../../assets/Risorse custom/funz3.png');
    background-position: center;
    background-repeat: no-repeat;
}

#funz-box-3 p {
    top: 170px;
    position: relative;
}

#funz-box-3 h3 {
    text-align: left;
    position: relative;
    top: 80px;
    left: 55px;
}

#funz-box-4 {
    background-image: url('../../../assets/Risorse custom/funz4.png');
    background-position: center;
    background-repeat: no-repeat;
}

#funz-box-4 h3 {
    text-align: left;
    position: relative;
    top: 60px;
}

#funz-box-4 p {
    position: relative;
    bottom: -160px;
    text-align: left;
}

#tend2 {
    position: relative;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    background-color: #59afe2;
    top: 100px;
    width: 100%;
    margin: 3px;
    padding-bottom: 40px;
}

#tend2 img {
    width: 91px;
    height: 42px;
}


/* TERZA PAGINA */

.Contatti {
    background-color: #59afe2;
    color: white;
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 600px;
    margin-top: 90px;
    text-align: center;
    border: solid white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.contatti p {
    padding-bottom: 50px;
}

#email {
    position: relative;
    width: 600px;
    height: 40px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#mex {
    position: relative;
    resize: none;
    width: 598px;
    height: 150px;
    margin: 10px;
    padding: none;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 600px;
    height: 40px;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4f5d7a;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

#email::placeholder,
#mex::placeholder {
    padding: 15px;
    font-size: 19px;
    color: lightgray;
}