/* PRIMA PAGINA */
.scarica {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/Risorse utili/BG_home.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}

.download-text {
    width: 30%;
    text-align: left;
    position: relative;
    margin: auto;
    top: 90px;
    left: -280px;
    color: white;
    font-size: 23px;

}


#bluebox{
    background-color: #59afe2;
    position: relative;
    width: 100%;
    height: 190px;
    top: 190px;
}

.bluebox-text{
    position: relative;
    left: 325px;
    top: 30px;
    margin: auto;
    color: white;
}

#phone{
    position: absolute;
    top: 160px;
    right: 290px;
    overflow: hidden;
    z-index: 1;
}

/* SECONDA PAGINA */
.funzionalita {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 90px;
    background-color: white;
    z-index: 2;
    border: solid white;
    color: #4f5d7a;
    font-size: 20px;
}

.funz-box {
    width: 500px;
    margin: 50px 120px 0px 120px;
    display: inline-block;
    height: 300px;
    position: relative;
    padding: none;
}

#funz-box-1 {
    background-image: url('../../../assets/Risorse custom/funz1.png');
    background-position: center;
    background-repeat: no-repeat;
}
#funz-box-1 p{
    top: 150px;
    position: relative;
}
#funz-box-1 h3{
    position: relative;
    top: 46px;
    right: 20px;
 }

 
#funz-box-2{
    background-image: url('../../../assets/Risorse custom/funz2.png');
    background-position: center;
    background-repeat: no-repeat;
}
#funz-box-2 p{
    top: 170px;
    position: relative;
}
#funz-box-2 h3{
    text-align: right;
    position: relative;
 }


#funz-box-3 {
    background-image: url('../../../assets/Risorse custom/funz3.png');
    background-position: center;
    background-repeat: no-repeat;
}
#funz-box-3 p{
    top: 170px;
    position: relative;
}
#funz-box-3 h3{
    text-align: left;
    position: relative;
    top: 80px;
    left: 55px;
 }


#funz-box-4 {
    background-image: url('../../../assets/Risorse custom/funz4.png');
    background-position: center;
    background-repeat: no-repeat;
}

#funz-box-4 h3{
    text-align: left;
    position: relative;
    top: 70px;
}
#funz-box-4 p{
    position: relative;
    bottom: -180px;
    text-align: left;
}


.contatti {
    visibility: hidden;
    text-align: center;
    border: solid white;
}

.form-email {
    width: 600px;
    height: 30px;
}

.form-mex {
    width: 600px;
    height: 200px;
    margin-top: 30px;
    vertical-align: top;
}

button {
    margin-top: 10px;
    cursor: pointer;
    background-color: lightblue;
    width: 10%;
}